<!-- Begin mate -->
<div id = "mate_section">
  <div class="line"></div>
  <%#= form_tag method: :post, url: create_married_path do %>
    <div class="formRow">
      <label><%= label_tag "Nom du partenaire" %></label>
      <div class="formRight">
        <%= text_field_tag "married[spouse_firstname]", (@married.spouse_firstname rescue nil), placeholder: "Veuillez entrer le nom du partenaire", class: 'form-control' %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="formRow">
      <label><%= label_tag "Prénoms du partenaire" %></label>
      <div class="formRight">
        <%= text_field_tag "married[spouse_lastname]", (@married.spouse_lastname rescue nil), placeholder: "Veuillez entrer les prénoms du partenaire", class: 'form-control' %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="formRow">
      <label><%= label_tag "Le ministère de célébration" %></label>
      <div class="formRight">
        <%= text_field_tag "married[wedding_ministry]", (@married.wedding_ministry rescue nil), placeholder: "Veuillez entrer le ministère de célébration", class: 'form-control' %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="formRow">
      <label><%= label_tag "L'église de célébration" %></label>
      <div class="formRight">
        <%= text_field_tag "married[wedding_church]", (@married.wedding_church rescue nil), placeholder: "Veuillez entrer l'église de célébration", class: 'form-control' %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="formRow">
      <label><%= label_tag "La date de naissance" %></label>
      <div class="formRight">
        <%= text_field_tag "married[spouse_birthdate]", (@married.spouse_birthdate rescue nil), placeholder: "Veuillez entrer la date de naissance du partenaire", class: 'form-control mskDate' %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="formRow">
      <label><%= label_tag "Numéro d'extrait de naissance" %></label>
      <div class="formRight">
        <%= text_field_tag "married[spouse_birth_registry_number]", (@married.spouse_birth_registry_number rescue nil), placeholder: "Veuillez entrer le numéro d'extrait de naissance du partenaire", class: 'form-control' %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="formRow">
      <label><%= label_tag "Le nombre d'enfants" %></label>
      <div class="formRight">
        <%= text_field_tag "married[number_of_children]", (@married.number_of_children rescue nil), placeholder: "Veuillez entrer le nombre d'enfants", class: 'form-control' %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="formRow">
      <label><%= label_tag "L'ethnie" %></label>
      <div class="formRight">
        <%= select_tag "married[tribe_id]", options_from_collection_for_select(@tribes, "id", "name", selected: (@married.tribe_id rescue nil)), prompt: "-L'ethnie du partenaire-", class: "form-control" %>
      </div>
      <div class="clear"></div>
    </div>
  <%# end %>
  <div class="line"></div>
</div>
<!-- End mate -->
