<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Liste des ethnies</h5>
            <span>Prise en charge des actions liées à la liste des ethnies des fidèles.</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

<%= render "tribes/shared/sub_menu" %>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <%= tribe_messages! %>
<!-- Widgets -->
  <div class="widget">
    <div class="title"><img src="<%= asset_path 'icons/dark/full2.png' %>" alt="" class="titleIcon" /><h6>Liste des ethnies</h6></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display dTable taskWidget">
      <thead>
        <tr>
          <th>Intitulé de l'ethnie</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% unless @tribes.blank? %>
          <% @tribes.each do |tribe| %>
            <tr class="gradeA">
              <% css_class = (tribe.published == false ? 'taskD' : 'taskPr') %>
              <td class = "<%= css_class %>">
                <%= tribe.name %>
              </td>
              <td class = "actBtns">
                <a href="<%= edit_tribe_path(tribe.id) %>" class="tipS" original-title="Modifier"><%= image_tag('icons/edit.png', alt: '') %></a>
                <% if tribe.published == false %>
                  <a href="<%= enable_tribe_path(tribe.id) %>" class="tipS" original-title="Activer"><%= image_tag('icons/updateDone.png', alt: '') %></a>
                <% else %>
                  <a href="<%= disable_tribe_path(tribe.id) %>" class="tipS" original-title="Désactiver"><%= image_tag('icons/remove.png', alt: '') %></a>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
<!-- End Main content wrapper -->
