<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Modifier une responsabilité</h5>
            <span>Modifications liées aux responsabilités des baptisés.</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

<%= render "baptist_responsibilities/shared/sub_menu" %>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <!-- Widgets -->
  <%= baptist_responsibility_messages! %>
  <%= form_for @baptist_responsibility, method: :post, url: update_baptist_responsibility_path, html: {class: 'form'} do |f| %>
    <fieldset>
      <!-- Create devoted widget -->
      <div class="widget">
        <div class="title"><img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" /><h6>Mettre à jour la responsabilité intitulée: <%= @baptist_responsibility.name.empty? ? @baptist_responsibility_name : @baptist_responsibility.name %></h6></div>

          <div class="formRow">
            <label><%= f.label :name %></label>
            <div class="formRight">
              <%= f.text_field :name, placeholder: 'Veuillez entrer la responsabilité', class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <%= f.submit 'Valider', class: 'basic' %>
          </div>
      </div>
      <!-- End Create devoted widget -->
    </fieldset>
  <% end %>
</div>
<!-- End Main content wrapper -->
