<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Liste des statuts matrimoniaux</h5>
            <span>Prise en charge des actions liées à la liste des statuts matrimoniaux des fidèles.</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

<%= render "marital_status_list/shared/sub_menu" %>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <%= marital_status_list_messages! %>
<!-- Widgets -->
  <div class="widget">
    <div class="title"><img src="<%= asset_path 'icons/dark/full2.png' %>" alt="" class="titleIcon" /><h6>Liste des statuts matrimoniaux</h6></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display dTable taskWidget">
      <thead>
        <tr>
          <th>Intitulé du statut matrimonial</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% unless @marital_status_lists.blank? %>
          <% @marital_status_lists.each do |marital_status_list| %>
            <tr class="gradeA">
              <% css_class = (marital_status_list.published == false ? 'taskD' : 'taskPr') %>
              <td class = "<%= css_class %>">
                <%= marital_status_list.name %>
              </td>
              <td class = "actBtns">
                <a href="<%= edit_marital_status_list_path(marital_status_list.id) %>" class="tipS" original-title="Modifier"><%= image_tag('icons/edit.png', alt: '') %></a>
                <% if marital_status_list.published == false %>
                  <a href="<%= enable_marital_status_list_path(marital_status_list.id) %>" class="tipS" original-title="Activer"><%= image_tag('icons/updateDone.png', alt: '') %></a>
                <% else %>
                  <a href="<%= disable_marital_status_list_path(marital_status_list.id) %>" class="tipS" original-title="Désactiver"><%= image_tag('icons/remove.png', alt: '') %></a>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- End Main content wrapper -->
